module(load="imfile" mode="inotify")
input(type="imfile"
      File="/var/log/mysqld.log"
        Tag="mysqld:")

module(load="omrelp")
    :syslogtag, startswith, "mysqld" action(type="omrelp" target="192.168.1.92" port="514")